## Feature Scaling

# 1. Min Max Scaling

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
# Sample data
data = {'awen_numbers': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.head()

   awen_numbers
0            10
1            20
2            30
3            40
4            50

In [4]:
#  scale the data min max scale 
scaler =MinMaxScaler()
df['awen_numbers_scaled'] =scaler.fit_transform(df[['awen_numbers']])
df.head()

   awen_numbers  awen_numbers_scaled
0            10                 0.00
1            20                 0.25
2            30                 0.50
3            40                 0.75
4            50                 1.00

# 2. Standard Scalar or z-score normalization

In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
# Sample data
data = {'awen_numbers': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.head()

   awen_numbers
0            10
1            20
2            30
3            40
4            50

In [6]:
#  scale the data standard scale 
scaler =StandardScaler()
df['awen_numbers_scaled'] =scaler.fit_transform(df[['awen_numbers']])
df.head()

   awen_numbers  awen_numbers_scaled
0            10            -1.414214
1            20            -0.707107
2            30             0.000000
3            40             0.707107
4            50             1.414214

## 3 . Robust Scalar

In [7]:
from sklearn.preprocessing import RobustScaler
# Sample data with outliers
data = {'awen_numbers': [10, 20, 30, 1000, 50]}
df = pd.DataFrame(data)
# Robust Scaling
scaler = RobustScaler()
df['awen_numbers_scaled'] = scaler.fit_transform(df[['awen_numbers']])
print(df)

   awen_numbers  awen_numbers_scaled
0            10            -0.666667
1            20            -0.333333
2            30             0.000000
3          1000            32.333333
4            50             0.666667