### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html


### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

## Import Pandas

In [1]:
import pandas as pd
import numpy as np

Series from list

In [2]:
country =['India', 'Pakistan', 'England', 'Nepal', 'Srilanka']
pd.Series(country)

0       India
1    Pakistan
2     England
3       Nepal
4    Srilanka
dtype: object

In [3]:
runs =[30, 70, 40, 90]
pd.Series(runs)

0    30
1    70
2    40
3    90
dtype: int64

In [4]:
# custom index
marks =[67, 89,100,76]
subject=['math', 'hindi' ,'english', 'physics']
pd.Series(marks, index=subject)

math        67
hindi       89
english    100
physics     76
dtype: int64

In [5]:
marks =pd.Series(marks, index=subject, name='Mishra Ke Marks ')

In [6]:
marks

math        67
hindi       89
english    100
physics     76
Name: Mishra Ke Marks , dtype: int64

Series from dict

In [7]:
marks ={
    'math':80,
    'english':60,
    'hindi':90,
    'physics':70,
}
marks_series=pd.Series(marks, name='Mishra Ke Marks ')
marks_series

math       80
english    60
hindi      90
physics    70
Name: Mishra Ke Marks , dtype: int64

Attributes of series

In [8]:
marks_series.size

4

In [9]:
marks_series.is_unique

True

In [10]:
marks_series.name

'Mishra Ke Marks '

In [11]:
marks_series.index

Index(['math', 'english', 'hindi', 'physics'], dtype='object')

series usnig read csv

In [12]:
subs = pd.read_csv('subs.csv')  # Read the CSV file into a DataFrame
subs = subs.squeeze()  # Convert the DataFrame to a Series if it has only one column

In [13]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [14]:
# with 2 cols
vk =pd.read_csv('kohli_ipl.csv', index_col='match_no')
vk=vk.squeeze()
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [15]:
movies =pd.read_csv('bollywood.csv', index_col='movie')
movies=movies.squeeze()
movies.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

Series methods

In [16]:
# head or tail
subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [17]:
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [18]:
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [19]:
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [20]:
movies.sample(10)

movie
P Se Pyaar F Se Faraar       Bhavesh Kumar
Paathshaala                   Nana Patekar
Bang Bang!                  Hrithik Roshan
Aashayein                     John Abraham
Pink (2016 film)             Taapsee Pannu
Pal Pal Dil Ke Paas             Karan Deol
Aurangzeb (film)              Arjun Kapoor
Aankhen (2002 film)       Amitabh Bachchan
John Day (film)           Naseeruddin Shah
Tahaan                     Victor Banerjee
Name: lead, dtype: object

In [21]:
# values cou
movies.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [22]:
# sort values
vk.sort_values(ascending=False).head()

match_no
128    113
126    109
123    108
120    100
164    100
Name: runs, dtype: int64

In [23]:
vk.sort_values(ascending=False).head(1).values[0]

np.int64(113)

In [24]:
vk = vk.copy()  # Create a copy of the Series
vk.sort_values(inplace=True)  # Sort the Series in-place

In [25]:
vk

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [26]:
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [27]:
vk.sort_values(inplace=True)

In [28]:
vk

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [29]:
vk.count()

np.int64(215)

In [30]:
subs.sum()

np.int64(49510)

In [31]:
subs.product()

np.int64(0)

In [32]:
# mean -> median -> mode -> std -> var 
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())

24.0
0    Akshay Kumar
Name: lead, dtype: object
62.6750230372527

In [33]:
subs.min()

np.int64(33)

In [34]:
subs.max()

np.int64(396)

In [35]:
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

series Indexing

In [36]:
x =pd.Series([12,13,14, 70, 84, 7])
x

0    12
1    13
2    14
3    70
4    84
5     7
dtype: int64

In [37]:
x[1]

np.int64(13)

In [38]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [39]:
movies[0]

C:\Users\Engineer\AppData\Local\Temp\ipykernel_15912\3901301928.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[0]

'Vicky Kaushal'

In [40]:
vk[5:16]

match_no
207    0
135    0
130    0
211    0
106    1
204    1
113    1
77     1
1      1
5      1
75     1
Name: runs, dtype: int64

In [41]:
vk[-5::]

match_no
164    100
120    100
123    108
126    109
128    113
Name: runs, dtype: int64