### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html


### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

## Import Pandas

In [8]:
import pandas as pd
import numpy as np

Series from list

In [9]:
country =['India', 'Pakistan', 'England', 'Nepal', 'Srilanka']
pd.Series(country)

0       India
1    Pakistan
2     England
3       Nepal
4    Srilanka
dtype: object

In [10]:
runs =[30, 70, 40, 90]
pd.Series(runs)

0    30
1    70
2    40
3    90
dtype: int64

In [14]:
# custom index
marks =[67, 89,100,76]
subject=['math', 'hindi' ,'english', 'physics']
pd.Series(marks, index=subject)

math        67
hindi       89
english    100
physics     76
dtype: int64

In [16]:
marks =pd.Series(marks, index=subject, name='Mishra Ke Marks ')

In [17]:
marks

math        67
hindi       89
english    100
physics     76
Name: Mishra Ke Marks , dtype: int64

Series from dict

In [21]:
marks ={
    'math':80,
    'english':60,
    'hindi':90,
    'physics':70,
}
marks_series=pd.Series(marks, name='Mishra Ke Marks ')
marks_series

math       80
english    60
hindi      90
physics    70
Name: Mishra Ke Marks , dtype: int64

Attributes of series

In [23]:
marks_series.size

4

In [25]:
marks_series.is_unique

True

In [26]:
marks_series.name

'Mishra Ke Marks '

In [27]:
marks_series.index

Index(['math', 'english', 'hindi', 'physics'], dtype='object')

series usnig read csv

In [41]:
subs = pd.read_csv('subs.csv')  # Read the CSV file into a DataFrame
subs = subs.squeeze()  # Convert the DataFrame to a Series if it has only one column

In [42]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [49]:
# with 2 cols
vk =pd.read_csv('kohli_ipl.csv', index_col='match_no')
vk=vk.squeeze()
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [53]:
movies =pd.read_csv('bollywood.csv', index_col='movie')
movies=movies.squeeze()
movies.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

Series methods

In [54]:
# head or tail
subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [55]:
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [56]:
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [57]:
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [60]:
movies.sample(10)

movie
Dil Toh Deewana Hai            Zeenat Aman
Anuradha (2014 film)       Sachin Khedekar
Ek Din 24 Ghante                Rahul Bose
Laaga Chunari Mein Daag       Rani Mukerji
Raees (film)                     Raj Arjun
Prateeksha                       Jeetendra
Hattrick (film)               Nana Patekar
Chaarfutiya Chhokare         Soha Ali Khan
Kal Ho Naa Ho               Shah Rukh Khan
Taxi No. 9211                 Nana Patekar
Name: lead, dtype: object

In [62]:
# values cou
movies.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [64]:
# sort values
vk.sort_values(ascending=False).head()

match_no
128    113
126    109
123    108
120    100
164    100
Name: runs, dtype: int64

In [65]:
vk.sort_values(ascending=False).head(1).values[0]

np.int64(113)

In [70]:
vk = vk.copy()  # Create a copy of the Series
vk.sort_values(inplace=True)  # Sort the Series in-place

In [71]:
vk

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [72]:
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [73]:
vk.sort_values(inplace=True)

In [74]:
vk

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [76]:
vk.count()

np.int64(215)

In [78]:
subs.sum()

np.int64(49510)

In [79]:
subs.product()

np.int64(0)

In [ ]:
# mean -> median -> mode -> std -> var