# Google App Store ADA

In [2]:
# import liberery 
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib as sns 


# import ydata_profiling as yd

In [3]:
df = pd.read_csv('./data/googleplaystore.csv')

In [15]:
 # run automatic ada using ydata_profiling library
# profile = yd.ProfileReport(df)
# profile.to_file(output_file='./outputs/04_ydata_googleplaystore_kaggle.html')

Summarize dataset: 100%|██████████| 24/24 [00:02<00:00, 10.10it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.72s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.23it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 81.98it/s]

In [6]:
# check the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [7]:
# lets have look the data
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [8]:
# take sample data set 

df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7359,Automagic * Automation,TOOLS,4.7,1947,Varies with device,"10,000+",Paid,$3.90,Everyone,Tools,"May 19, 2018",Varies with device,Varies with device
64,DMV Permit Practice Test 2018 Edition,AUTO_AND_VEHICLES,4.9,6090,27M,"100,000+",Free,0,Everyone,Auto & Vehicles,"July 3, 2018",1.7,4.2 and up
2395,EMT Review Plus,MEDICAL,4.5,199,1.8M,"10,000+",Paid,$11.99,Everyone,Medical,"June 27, 2018",3.0.5,4.4W and up
4610,Showtime Anytime,FAMILY,3.7,18522,Varies with device,"1,000,000+",Free,0,Teen,Entertainment,"July 2, 2018",Varies with device,Varies with device
3739,Twitter,NEWS_AND_MAGAZINES,4.3,11667403,Varies with device,"500,000,000+",Free,0,Mature 17+,News & Magazines,"August 6, 2018",Varies with device,Varies with device
4966,Ad-free Triangle Solver,FAMILY,4.5,118,24M,"10,000+",Free,0,Everyone,Education,"August 20, 2015",6.3.1,4.2 and up
6815,BU Bookstore,SHOPPING,NaN,2,7.6M,"1,000+",Free,0,Everyone,Shopping,"March 19, 2018",3.0.2,4.1 and up
3710,amazer - Global Kpop Video Community,VIDEO_PLAYERS,4.3,1215,23M,"100,000+",Free,0,Everyone 10+,Video Players & Editors,"July 20, 2018",1.5.4,4.1 and up
1751,Candy Crush Saga,GAME,4.4,22428456,74M,"500,000,000+",Free,0,Everyone,Casual,"July 5, 2018",1.129.0.2,4.1 and up
7823,CS Interview Questions (TechQ),FAMILY,4.8,33,6.7M,"5,000+",Free,0,Everyone,Education,"January 27, 2017",1.5,4.1 and up

In [9]:
df.describe() # work onely  numaric varibale

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [12]:
# to do lets have a look on unique value 
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
429k                     1
200k                     1
460k                     1
728k                     1
619k                     1
Name: count, Length: 462, dtype: int64

In [14]:
df['Size'].isnull().sum()

0

# install

In [15]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: count, dtype: int64

In [ ]:
# do it as numaric column to bins

how to handle price

In [16]:
df['Price'].value_counts()

Price
0         10040
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$1.75         1
$14.00        1
$4.85         1
$46.99        1
$1.04         1
Name: count, Length: 93, dtype: int64

In [17]:
df['Price'].isnull().sum()

0

## Remove $ sign from all columns using pandas

In [18]:
df['Type'].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64