### **VARIABLES IN PYTHON**

In [8]:
counter =100
miles =1000.0
name = "Mishra JI "
print("counter =", counter,"miles=", miles,"name =", name)

counter = 100 miles= 1000.0 name = Mishra JI

In [9]:
# militpal assigment 
a =10
b =10
c =10

In [11]:
a=b=c=10
print(a,b,c)

10 10 10

In [12]:
a,b,c= 10,20,30
print(a,b,c)

10 20 30

In [13]:
a,b,c= 10,20,"jai ram"
print(a,b,c)

10 20 jai ram

### **DATA TYPE**

In [22]:
# int - bool - float - complex

var1 = 2
var2 = True
var3 = 17.52
var4 = 4+3j
type(var3)

float

In [23]:
type('HI HOW ARE YOU WHERE ARE YOU FROM')

str

In [28]:
# string data type
str = 'Hello world'
print(str)
print(str[0])
print(str[-1])
print(str[0:5])
print(str[0:])
print(str * 2)
print(str + "Mishra")

Hello world
H
d
Hello
Hello world
Hello worldHello world
Hello worldMishra

In [30]:
# list datatype

list = ['abcd', 12345, 2.44, 'mishra', 32.6]
tinylist =[1234, 'john']
print(list)
print(list[0])
print(list[-1])
print(list[0:5])
print(list[0:])
print(list * 2)
print(list + tinylist)

['abcd', 12345, 2.44, 'mishra', 32.6]
abcd
32.6
['abcd', 12345, 2.44, 'mishra', 32.6]
['abcd', 12345, 2.44, 'mishra', 32.6]
['abcd', 12345, 2.44, 'mishra', 32.6, 'abcd', 12345, 2.44, 'mishra', 32.6]
['abcd', 12345, 2.44, 'mishra', 32.6, 1234, 'john']

In [31]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [33]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
# tuple[2] = 1000    # Invalid syntax with tuple
# list[2] = 1000     # Valid syntax with list

In [36]:
for i in range(5):
    print(i)
for i in range(2,5):
    print(i)

0
1
2
3
4
2
3
4

In [37]:
for i in range(1, 5, 2):
    print(i)

1
3

In [38]:
# Creating a bytearray from an iterable of integers
value = bytearray([72, 101, 108, 108, 111])  
print(value)

bytearray(b'Hello')

In [39]:
data = bytearray(b'Hello, world!')
view = memoryview(data)
print(view)

<memory at 0x00000178C11B3DC0>

In [40]:
# Dictionary Data Type
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [41]:
# Following also prints the same
print(a==b)

# Returns False as a is None
a = None
print(bool(a))

# Returns false as a is an empty sequence
a = ()
print(bool(a))

# Returns false as a is 0
a = 0.0
print(bool(a))

# Returns false as a is 10
a = 10
print(bool(a))

False
False
False
False
True

In [44]:
# Data Type Conversion
print("Conversion to integer data type")
a = int(1)     # a will be 1
b = int(2.2)   # b will be 2
# c = int('3.3')   # c will be 3

print (a)
print (b)
print (c)

print("Conversion to floating point number")
a = float(1)     # a will be 1.0
b = float(2.2)   # b will be 2.2
c = float("3.3") # c will be 3.3

print (a)
print (b)
print (c)

print("Conversion to string")
a = str(1)     # a will be "1" 
b = str(2.2)   # b will be "2.2"
c = str("3.3") # c will be "3.3"

print (a)
print (b)
print (c)

Conversion to integer data type
1
2
jai ram
Conversion to floating point number
1.0
2.2
3.3
Conversion to string

TypeError: 'str' object is not callable

### **Type Casting**

In [46]:
a =10
b =10.2
c = a+b
print(c)

20.2

In [ ]:
a = True   # true means values are assign a true it store value = 1
b = 10.5
c = a+ b
print(c)

11.5

In [50]:
a = int(10.5)
a
a = int(2*3.14)
a
type(a)

int

In [52]:
a = int(True)
type(a)

int

In [55]:
# stirng to integer 

a = int("100")
a
b =('10'+'01')
b
type(a)
type(b)

str

In [57]:
# binary string integer 
a = int("110011", 2)
print(a)

51

In [58]:
# octol to integer 
a = int("20", 8)
a

16

In [59]:
# hexa decimal 
a = int('2A9', 16)
a

681

### **Literals**

### **Arithmetic Operators**

In [68]:
a = 10.5
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a==b)
print(a!=b)
print(a<=b)

30.5
-9.5
210.0
0.525
10.5
False
True
True

In [71]:
a=6+4j
b=3+2j
c=a*b
print(c)

(10+24j)

### **ASSIGMENT OPRE**

In [72]:
a=10
b=5
print ("Augmented addition of int and int")
a+=b # equivalent to a=a+b
print ("a=",a, "type(a):", type(a))

a=10
b=5.5
print ("Augmented addition of int and float")
a+=b  # equivalent to a=a+b
print ("a=",a, "type(a):", type(a))

a=10.50
b=5+6j
print ("Augmented addition of float and complex")
a+=b #equivalent to a=a+b
print ("a=",a, "type(a):", type(a))

Augmented addition of int and int
a= 15 type(a): <class 'int'>
Augmented addition of int and float
a= 15.5 type(a): <class 'float'>
Augmented addition of float and complex
a= (15.5+6j) type(a): <class 'complex'>

In [73]:
a=10
b=5
print ("Augmented multiplication of int and int")
a*=b #equivalent to a=a*b
print ("a=",a, "type(a):", type(a))

a=10
b=5.5
print ("Augmented multiplication of int and float")
a*=b #equivalent to a=a*b
print ("a=",a, "type(a):", type(a))

a=6+4j
b=3+2j
print ("Augmented multiplication of complex and complex")
a*=b #equivalent to a=a*b
print ("a=",a, "type(a):", type(a))

Augmented multiplication of int and int
a= 50 type(a): <class 'int'>
Augmented multiplication of int and float
a= 55.0 type(a): <class 'float'>
Augmented multiplication of complex and complex
a= (10+24j) type(a): <class 'complex'>

In [74]:
a=10
b=5
print ("Augmented division of int and int")
a/=b #equivalent to a=a/b
print ("a=",a, "type(a):", type(a))

a=10
b=5.5
print ("Augmented division of int and float")
a/=b #equivalent to a=a/b
print ("a=",a, "type(a):", type(a))

a=6+4j
b=3+2j
print ("Augmented division of complex and complex")
a/=b #equivalent to a=a/b
print ("a=",a, "type(a):", type(a))

Augmented division of int and int
a= 2.0 type(a): <class 'float'>
Augmented division of int and float
a= 1.8181818181818181 type(a): <class 'float'>
Augmented division of complex and complex
a= (2+0j) type(a): <class 'complex'>

In [75]:
a=10
b=5
print ("Augmented exponent operator with int and int")
a**=b #equivalent to a=a**b
print ("a=",a, "type(a):", type(a))

a=10
b=5.5
print ("Augmented exponent operator with int and float")
a**=b #equivalent to a=a**b
print ("a=",a, "type(a):", type(a))

a=6+4j
b=3+2j
print ("Augmented exponent operator with complex and complex")
a**=b #equivalent to a=a**b
print ("a=",a, "type(a):", type(a))

Augmented exponent operator with int and int
a= 100000 type(a): <class 'int'>
Augmented exponent operator with int and float
a= 316227.7660168379 type(a): <class 'float'>
Augmented exponent operator with complex and complex
a= (97.52306038414744-62.22529992036203j) type(a): <class 'complex'>