### **VARIABLES IN PYTHON**

In [8]:
counter =100
miles =1000.0
name = "Mishra JI "
print("counter =", counter,"miles=", miles,"name =", name)

counter = 100 miles= 1000.0 name = Mishra JI

In [9]:
# militpal assigment 
a =10
b =10
c =10

In [11]:
a=b=c=10
print(a,b,c)

10 10 10

In [12]:
a,b,c= 10,20,30
print(a,b,c)

10 20 30

In [13]:
a,b,c= 10,20,"jai ram"
print(a,b,c)

10 20 jai ram

### **DATA TYPE**

In [22]:
# int - bool - float - complex

var1 = 2
var2 = True
var3 = 17.52
var4 = 4+3j
type(var3)

float

In [23]:
type('HI HOW ARE YOU WHERE ARE YOU FROM')

str

In [28]:
# string data type
str = 'Hello world'
print(str)
print(str[0])
print(str[-1])
print(str[0:5])
print(str[0:])
print(str * 2)
print(str + "Mishra")

Hello world
H
d
Hello
Hello world
Hello worldHello world
Hello worldMishra

In [30]:
# list datatype

list = ['abcd', 12345, 2.44, 'mishra', 32.6]
tinylist =[1234, 'john']
print(list)
print(list[0])
print(list[-1])
print(list[0:5])
print(list[0:])
print(list * 2)
print(list + tinylist)

['abcd', 12345, 2.44, 'mishra', 32.6]
abcd
32.6
['abcd', 12345, 2.44, 'mishra', 32.6]
['abcd', 12345, 2.44, 'mishra', 32.6]
['abcd', 12345, 2.44, 'mishra', 32.6, 'abcd', 12345, 2.44, 'mishra', 32.6]
['abcd', 12345, 2.44, 'mishra', 32.6, 1234, 'john']