## DATA ANALYSISS OREALY BOOK REVISION

In [1]:
import numpy as np
import pandas as pd

In [2]:
data =[np.random.standard_normal() for i in range(7)]
data

[-0.8880680378771418,
 1.2178460906256026,
 0.5408261674797511,
 0.32547844241873564,
 -0.7118896025443611,
 -0.7323951840154291,
 -0.3429281897398118]

In [3]:
print(data)

[-0.8880680378771418, 1.2178460906256026, 0.5408261674797511, 0.32547844241873564, -0.7118896025443611, -0.7323951840154291, -0.3429281897398118]

In [4]:
b = [1, 2, 3]
c = [1, 2, 3]
b.append(5)
b.insert(2,7)
b.reverse()
b.sort()
b.index(3)
# print(b)



# append()  count()   insert()  reverse()
# clear()   extend()  pop()     sort()
# copy()    index()   remove()

2

In [5]:
import datetime
datetime.datetime.now()

datetime.datetime(2025, 8, 13, 8, 25, 20, 873381)

In [6]:
b = [1, 2, 3] 
type(b)
b.__len__()

3

In [7]:
a=2; b=32; c=33; d=70; 
a+b+c+d

137

In [8]:
def append_elements(some_list, element):
    some_list.append(element)

In [9]:
data =[1,2,3,4]
append_elements(data, 5)
data

[1, 2, 3, 4, 5]

In [10]:
"5" + str(5)      # Output: '55'
a =4.5
b =2
c=a/b
c

2.25

In [11]:
# some_module.py
PI = 3.14159
def f(x):
  
  return x + 2
def g(a, b):
   
   return a + b

In [12]:
a = None
b = 5

def add_and_maybe_multiply(a, b, c=None):
 
    result = a + b
    if c is not None:
      result = result * c
    return result

In [13]:

from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [14]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [15]:
datetime.strptime("20250726", "%Y%m%d")

datetime.datetime(2025, 7, 26, 0, 0)

In [16]:
X =-5
if X< 0:
    print("negative number" )

negative number

In [17]:
x=0
if x<0:
    print("negative number")
elif x==0:
    print("equal to number ")
elif 0 > x and x < 5:
    print("Zero se bata but five se chota")
else:
    print("positive and larger eqal to ")

equal to number

In [18]:
a =5; b = 7;  c = 8;  d = 4;
if a < b and c< d:
    print("made it")
else:
    print("not made it")

not made it

In [19]:
list =[1,2,0,4,6,5,2,1]
total_until_5=0
for value in list:
    if value == 5:
        break
    total_until_5 +=value  
print(value)

5

In [20]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [21]:
x = 256
total = 0
while x > 0:
 if total > 500:
    break
 total += x
 x = x // 2
 print(x)

128
64
32
16
8
4

In [22]:
if x < 0:
 print("negative!")
elif x == 0:
 # TODO: put something smart here
 pass
else:
 print("positive!")

positive!

In [23]:
del list

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [27]:
total =0

for i in range(100_000):
    if i % 3 ==0 or i % 5==0:
        total +=i
print(total)

2333316668

In [28]:
total =0
for i in range(100_000):
   if i % 3 == 0 or i % 5 == 0: 
     total += i
print(total)

2333316668

In [29]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [30]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [31]:
tup = tuple([4,5,67])
tup

(4, 5, 67)

In [32]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

## Function

In [33]:
def my_function(x, y):
    return x + y

In [34]:
my_function(12,67)

79

In [36]:
def my_function2(x, y, z=1.4):
    if z> 1:
        return z*(x+y)
    else:
        return z/(x+y)

In [37]:
my_function(2,5)

7

In [44]:
def func():
 a = []
 for i in range(5):
   a.append(i)

5

In [50]:
states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
 "south carolina##", "West virginia?"]

In [ ]:
import re
def clean_strings(strings):
 result = []
 for value in strings:
   value = value.strip()
   value = re.sub("[!#?]", "", value)
   value = value.title()
   result.append(value)
   return result

In [52]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [53]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

In [54]:
for x in map(remove_punctuation, states):
     print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [55]:
def short_function(x):
    return x * 2

In [56]:
short_function(5)

10

In [60]:
equiv_anon = lambda x: x * 2

In [62]:
equiv_anon(3)

6

In [64]:
gen = (x ** 2 for x in range(100))

In [67]:
gen

In [68]:
def make_gen():
    for x in range(100):
        yield x ** 2
        make_gen